// variables
 $radius: 10px;
 $primary-color: #F0ECD9;
 $primary-font: "Oswald", sans-serif;
 $menu-font: Tahoma, Verdana, Segoe, sans-serif;
 $heading: 100px;
 $red-colour: #B92B25;
 $grey-colour: #4A4D4F;
// $small-radius: 2px;
// $secondary-color: #446CB3;